@use "../components/variables" as *;

.search {
    margin-top: 120px;
    .busqueda {
        margin-top: 10px;
        padding: 50px;
        height: 100%;
        border-radius: 10px;
        background-color: $azul;
    }

    .busqueda-items {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .formulario{
        flex: 1 1 100%;
    }

    .container-fecha{
        display: flex;
        gap:10px;
        p{
            margin: 0 0 5px 0;
            color: $blanco;
            font-size: 14px;
        }
    }

    .fecha {
        flex: 1;
    }

    .inputs-busqueda{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gris;
        background-color: $blanco;
        font-size: 16px;
    }

    .boton-busqueda{
        background-color: $celeste;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        &hover{
            background-color: $celeste-oscuro;
        }
    }
}

.ofertas-relampago{
    margin-top: 50px;
    border-radius: 10px;
    background-image: url("https://media.giphy.com/media/3o7TKpYPVmILdMoRUY/giphy.gif?cid=ecf05e47ra389mol9gpdbg5yvdqv0hb6m6hw9p8kon4wikbx&ep=v1_gifs_related&rid=giphy.gif&ct=g");
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h2 {
        color: $blanco;
        padding: 40px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .content-item{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .item{
        width: 150px;
        height: 300px;
        overflow: hidden;
    }
}

.countdown {
    padding: 20px;
    border-radius: 10px;
    span {
        color: #ffffff;
    }
}
@media (min-width: 1200px) {
    .busqueda{
        padding: 30px;
        height: 200px;
        border-radius: 10px;
        background-color: $azul;
    }
}

@media (max-width: 768px) { 
    .ofertas-relampago{
        .content-item{
            flex-direction: column;
            align-items: center;
        }
        .item{
            width: 100%;
            height: 200px;
        }
    }
}

@media (max-width: 320px) {
    .ofertas-relampago{
        .content-item{
            flex-direction: column;
            align-items: center;
        }
        .item{
            width: 100%;
            height: 200px;
        }
    }
}