@use "../components/variables" as *;
@use "../components/mixins" as *;
@use "../components/extend" as *;

header {
    background-color: $azul;
    div {
        .logo{
            a {
                img {
                    width: 250px;
                    height: 100px;
                }
            }
        }

        .menu {
            nav {
                ul {
                    @extend %nav-list;

                    li {
                        a {
                            @extend %link-style;
                            @include text-style(1.2rem);
                            @include hover-effect($celeste, $blanco);
                        }
        
                        @include dropdown-menu;
                            li { 
                                @extend %dropdown-item;
                                a {
                                    color: white;
                                    text-decoration: none;
                                    width: 100%;
                                    padding: 10px;
                                }
                                &:hover {
                                    background-color: rgba($azul, 1);
                                    cursor: pointer;
                                    
                                    a {
                                        background-color: rgba($azul, 0.6);
                                        display: block;
                                    }
                                }
                            }
                        }
                        
                        li {
                            padding: 10px 20px;
                            background-color: $azul;
                            a {
                                color: $blanco;
                                text-decoration: none;
                                font-size: 1.2rem;
                                padding: 10px 20px;
                                &:hover {
                                    background-color: $celeste;
                                    color: $blanco;
                                }
                            }
                        }
                    }
                }

                .lang-moneda {
                    position: absolute;
                    right: 0;
                    margin-right: 15px;
                    .navbar-nav{
                        .nav-item{
                            width: 70px;
                            height: 50px;
                            .bandera{
                                width: 30px;
                                height: 30px;
                            }
                            .dropdown-menu{
                                min-width: 30px;
                                li{
                                    padding:0;
                                    width: 70px;
                                    display: inherit;
                                }
                                
                            }
                            }
                            
                        }
                    }
            }
        }
    }
